/* styles.css */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    font-weight: bold;
}

body {
    background-image: url('https://images.pexels.com/photos/27508769/pexels-photo-27508769/free-photo-of-a-blue-semi-truck-driving-down-a-desert-road.jpeg?auto=compress&cs=tinysrgb&w=1200');
    background-size: cover;
    /* Ensure the image covers the whole screen */
    background-position: center center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-attachment: fixed;
    /* Keep the background fixed when scrolling */
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        /* Increase size to 10% */
    }
}

/* Apply the animation on hover */
.btn-grow:hover {
    animation: grow 0.3s ease-in-out;
}

